.login{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginform{
  
  padding:2em;
  /* background-color: rgb(228, 226, 225); */
}
.form-group{
  padding: 0.25em;
  text-align: center;
}
.login-button{
  background-color: rgb(20, 19, 19);
  padding-right:1em;
}
.button-login{
  display:flex;
  justify-content: center;
  
  
}